<hmtl>
<head>
    	<title>Practica4 201211472</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery.js"></script>


</head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Practica4_201211472</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
                      <li><a href="/ABC_Buses">ABC Buses</a></li>
            <li><a href="/Dist_Rutas_Buses">Distribucion Rutas y Buses</a></li>
            <li><a href="/Reserva_Ticket">Reserva Ticket</a></li>
	    <li><a href="/Pago_Ticket">Pago Ticket</a></li>
	    <li><a href="/Consulta_Viajes">Consulta Viajes</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<br>
	<br>
	<br>
    <div class="container">
	<div class="panel panel-default">
        	<div class="panel-body">
				<table class="table">
			<tr>
			<td>
				<div class="panel panel-default">
 				 <div class="panel-heading">Agregar Destino</div>
				 
					<br>
					<br>
							<div align="center">
  							Nombre Destino: <input type="text" name="destino"><br>
  					<input type="button" value="Agregar" onclick="AgregarDestino();"/>
							</div>
					
				</div>
			</td>
			</tr>
			<tr>
			<td>
				<div class="panel panel-default">
 				 <div class="panel-heading">Agregar Ruta</div>
				
					<br>
					<br>
							<div align="center">
  							Nombre Ruta: <input type="text" name="ruta"><br>
  					<input type="button" value="Agregar" onclick="AgregarRuta();"/>
							</div>
					
				</div>	
			</td>
			</tr>
			<tr>
			<td>
					<div class="panel panel-default">
 				 <div class="panel-heading">Asignar Destinos a Ruta</div>
					<br>
					<br>
							<div align="center">
							Nombre Ruta: <input type="text" name="ruta1"><br>
  							Nombre Destino: <input type="text" name="destino1"><br>
							# de tramo de Ruta: <input type="text" name="tramo"><br>
							Distancia de Origen: <input type="text" name="distancia"><br>
  							<input type="button" value="Agregar" onclick="AgregarDestinoDR();"/>
							</div>
				
				</div>
			</td>
			</tr>
			<tr>
			<td>
					<div class="panel panel-default">
 				 <div class="panel-heading">Asignar Bus a Ruta</div>
					<br>
					<br>
							<div align="center">
  							Nombre Bus: <input type="text" name="bus2"><br>
							Nombre Ruta: <input type="text" name="ruta2"><br>
							Fecha:<input type="text" name="fecha"><br>
  							<input type="button" value="Agregar" onclick="AgregarDestinoBR();"/>
							</div>
					
				</div>
			</td>
			</tr>
		</div>
 	
        </div>
    </div>

  </body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var $suspedidos=$('#suspendidos');
	var socket = io.connect('');

	function AgregarDestino(){
	 var destino =$('#destino').val();
	var query='INSERT INTO DESTINO(NOMBRE) VALUES (\''+destino+'\');';
	socket.emit('Query4', {msg:query});
	}
	function AgregarRuta(){
 	var ruta =$('#ruta').val();
	var query='INSERT INTO RUTA(NOMBRE) VALUES(\''+ruta+'\');';
	socket.emit('Query4', {msg:query});
	}
	function AgregarDestinoDR(){
	var ruta =$('#ruta1').val();
	var destino =$('#destino1').val();
 	var distancia =$('#distancia').val();
	var tramo =$('#tramo').val();
	var query='INSERT INTO RUTA_DESTINO(ID_RUTA,ID_DESTINO,NO_TRAMO,TIEMPO_ORIGEN,DISTANCIA_ORIGEN) VALUES(\''+ruta+'\',\''+destino+'\',\''+tramo+'\','11:30',\''+distancia+'\');';
	socket.emit('Query4', {msg:query});
	}
	function AgregarDestinoBR(){
		var bus2 =$('#bus2').val();
		var ruta2 =$('#ruta2').val();
 		var fecha =$('#fecha').val();
		var query='Insert Into ASignacion_Ruta(ID_Ruta,ID_BUs,FEcha,Cupo_Actual) Values(\''+ruta2+'\',\''+bus2+'\',to_date(\''+fecha+'\', \'dd/mm/yyyy\'),30);';
	socket.emit('Query4', {msg:query});
	}

</script>
</html>
